body {
    background-color: azure;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
}


p{
    font-size: larger;
    font-family: cursive;
}
#pic{
    float: right;
    border: 1px solid blue;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
.gallery{
    width:250px;
    height: 400px;
}


.gallery {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.gallery:hover {
    transform: scale(1.05) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

    .gallery1{
        width:250px;
        height: 180px;
    }
    
    
    .gallery1:hover {
       
        transform: scale(1.05) translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }
